node_modules
# Keep environment variables out of version control
.env

/generated/prisma
__pycache__/

venv/

# Ignore node/python artifacts
node_modules/
.next/
.env
__pycache__/
*.sqlite
*.pyc
*.log
*.db
*.DS_Store
