# Node.js
node_modules/
package-lock.json

# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# Prisma
/generated/prisma/

# VSCode & Editor settings (optional but recommended)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and debugging
*.log
*.pid
*.db-journal

# Byte-compiled or cache files
*.tsbuildinfo
